@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.ant-dropdown-menu-item {
  font-size: 18px !important;
  min-width: 200px !important;
}



/* placeholder + input text */
.ant-picker-input input {
  color: #000 !important;
  opacity: 1 !important;
  font-size: 20px !important;
  width: 120px !important;
}

.ant-picker-input input::placeholder {
  color: #000 !important;
  opacity: 1 !important;
}

.ant-picker-range .ant-picker-input input {
  color: #000 !important;
  opacity: 1 !important;
}

/* modal */
.ant-modal {
  box-shadow: none !important;
  animation: none !important;
  transform: none !important;
}

.ant-modal-wrap,
.ant-modal-mask {
  animation: none !important;
}

.ant-modal-content {
  box-shadow: none !important;
}

.ant-fade-appear,
.ant-fade-enter,
.ant-zoom-appear,
.ant-zoom-enter {
  animation: none !important;
}